<polymer-element name="presenter-frame" constructor="PresenterFrame" extends="presenter-resizable">
	<template>
		<shadow></shadow>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/app/styles/darkly.css">
		<link rel="stylesheet" href="presenter-frame.css">
		<div class="container-fluid">
			<bs-row>
				<bs-col xs="12">
					<content></content>
				</bs-col>
			</bs-row>			
		</div>
	</template>
	<script src="presenter-frame.js"></script>
</polymer-element>