<polymer-element name="presenter-slide" attributes="header subheader" constructor="PresenterSlide">
	<template>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/app/styles/darkly.css">
		<link rel="stylesheet" href="presenter-slide.css">
		<link rel="stylesheet" href="/slides/styles/slides.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css">
		<link rel="stylesheet" href="/app/styles/shared.css">
		<div class="container-fluid">
			<bs-row>
				<bs-col xs="12">
					<div class="jumbotron mask">				  
						<h2>{{header}}</h2>
						<h3 class="text-info optional extra-bottom-margin">{{subheader}}</h3>
						<div id="slideContent"></div>
						<content></content>
					</div>
				</bs-col>
			</bs-row>			
		</div>
	</template>
	<script src="presenter-slide.js"></script>
</polymer-element>