:host {
	display: block;
	max-width: 100%;
	overflow: auto;
}

:host ::shadow h2.optional:empty {
	display: none;
}

:host ::content * {
	display: none;
}

:host div.jumbotron {
	margin: 0;
	padding: 20px 30px;
}